@media screen and (min-width: 425px) {
    ul li{
        max-width: 123px !important;
    }
    ul li span.number{
        font-size: 24px;
        height: 36px;
    }
    ul li p{
        font-size: 20px;
    }
    ul li span.number .plusText{
        font-size: 32px !important;
    }
}
@media screen and (min-width: 576px) {
    ul li{
        max-width: 139px !important;
    }
    ul li span.number{
        font-size: 26px;
        height: 39px;
    }
    ul li span.number .plusText{
        font-size: 36px !important;
    }
    ul li p{
        font-size: 22px;
    }
}