<ul class="w-full flex flex-wrap justify-center items-start gap-3.5">
    <li class="flex flex-col text-center items-center justify-items-start" style="max-width: 90px;">
        <span class="font flex items-center justify-center number w-fit">{{yearnum}}
            <span *ngIf="yearPlus">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="stroke-1.5" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
            </span>
        </span>
        <span class="font text">{{text1}}</span>
    </li>
    
    <li class="flex flex-col text-center items-center justify-items-start" style="max-width: 90px;">
        <span class="font flex items-center justify-center number w-fit">{{projectslengthnum}}
            <span *ngIf="projectslengthnumPlus">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="stroke-1.5" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
            </span>
        </span>
        <span class="font text">{{text2}}</span>
    </li>

    <li class="flex flex-col text-center items-center justify-items-start" style="max-width: 90px;">
        <span class="font flex items-center justify-center number w-fit">{{customerintlength}}
            <span *ngIf="customerintlengthPlus">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="stroke-1.5" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
            </span>
        </span>
        <span class="font text">{{text3}}</span>
    </li>
</ul>