<ul class="w-full flex flex-wrap justify-center items-start gap-3.5">
    <li class="flex flex-col items-center text-center justify-items-start max-w-[90px]">
        <span class="flex items-center justify-center font number w-fit">{{yearCount}}
            <span *ngIf="yearExceeded" class="plusText" style="margin-left: 2.5px;">&#43;</span>
        </span>
        <span class="font text">{{text1}}</span>
    </li>
    
    <li class="flex flex-col items-center text-center justify-items-start max-w-[90px]">
        <span class="flex items-center justify-center font number w-fit">{{projectCount}}
            <span *ngIf="projectExceeded" class="plusText" style="margin-left: 2.5px;">&#43;</span>
        </span>
        <span class="font text">{{text2}}</span>
    </li>

    <li class="flex flex-col items-center text-center justify-items-start max-w-[90px]">
        <span class="flex items-center justify-center font number w-fit">{{customerCount}}
            <span *ngIf="customerExceeded" class="plusText" style="margin-left: 2.5px;">&#43;</span>
        </span>
        <span class="font text">{{text3}}</span>
    </li>
</ul>