<section class="w-full relative">
    <ul class="w-full flex flex-wrap justify-center items-start gap-3.5">
        
        <li class="flex flex-col items-center text-center justify-items-start max-w-[90px]" *ngFor="let item of elementArray">
            <span class="flex items-center justify-center font number w-fit text-2xl h-[30px]" style="color: #f2f2f2;">{{item.number}}
                <span *ngIf="item.pluseSet" class="plusText text-3xl ml-0.5" style="background-color: red !important; color: #f2f2f2;">&#43;</span>
            </span>
            <p class="font text text-lg" style="color: #b8b8b8;">{{item.key}}</p>
        </li>

    </ul>
</section>