<section class="relative m-auto pb-11 w-[90%] pt-[30px] max-w-[831px] h-[calc(100vh-72px-118px)] min-h-fit md:h-[calc(100vh-98px-118px)]">
  <div class="relative mx-auto pointer-events-none w-full max-w-[640px] bg-transparent">
    <img [src]="imgSrc" class="flex object-cover w-full h-full pointer-events-none select-none" loading="lazy" alt="404 error image"/>
  </div>

  <div class="flex flex-col items-center m-auto text-center mt-[35px]">
    <h1 class="text-[36px] font font-bold" style="color: var(--text-white);"> {{ text1 }} </h1>
    <p class="mb-6 text-[20px] font" style="color: var(--Light-gray);"> {{ text2 }} </p>
    <button class="text-base sm:text-xl rounded-lg cursor-pointer font-normal px-3 py-2 tracking-[2px] outline-none border-none font bg-[var(--yellow)] text-[var(--darkgray)] select-none hover:text-white" (click)="clickback()">
      {{ text3 }}
    </button>
  </div>
</section>
