.task_box_wrapper{
    gap: 5%;
    background-color: var(--dark-light-black);
}
.btn{
    height: fit-content;
}
.btnActive{
    background-color: var(--body-dark-bg);
}

@media screen and (min-width: 425px) {
    .btn{
        padding: 20px 0;
        font-size: 16px;
    }
}
@media screen and (min-width: 576px) {
    .btn{
        padding-block: 25px;
        font-size: 18px;
    }
}