<div class="task_box relative w-full flex items-center justify-center">
    <div class="task_box_wrapper w-full relative flex items-center justify-center rounded-lg" style="max-width: 517px;">
        <button type="button" class="font cursor-pointer {{projectbtnClass}} btn" style="color: rgb(184, 184, 184); border-radius: .375rem;" (click)="projectBTNEvent()">{{text1}}</button>
        <button type="button" class="font cursor-pointer {{skillbtnClass}} btn" style="color: rgb(184, 184, 184); border-radius: .375rem;" (click)="skillBtnEvent()">{{text2}}</button>
    </div>
</div>

<app-project *ngIf="!componentShowHidden" class="flex relative" style="margin-top: 65px;"></app-project>
<app-skills *ngIf="componentShowHidden" class="flex relative" style="margin-top: 65px;"></app-skills>