.task_box_wrapper{
    background-color: var(--color-gray);
}
.btn{
    height: fit-content;
    background-color: var(--color-gray);
}
.btnActive{
    background-color: var(--color-dark-charcoal) !important;
}

@media screen and (min-width: 425px) {
    .btn{
        padding: 20px 0;
        font-size: 16px;
    }
}
@media screen and (min-width: 576px) {
    .btn{
        padding-block: 25px;
        font-size: 18px;
    }
}