<div class="task_box relative w-full flex items-center justify-center">
    <div class="task_box_wrapper w-full relative flex items-center justify-center rounded-lg" style="max-width: 517px;">
        <button aria-label="task btn 1" type="button" class="font cursor-pointer {{projectbtnClass}} btn" style="color: rgb(184, 184, 184); border-radius: .375rem;" (click)="projectBTNEvent()">{{text1}}</button>
        <button aria-label="task btn 2" type="button" class="font cursor-pointer {{skillbtnClass}} btn" style="color: rgb(184, 184, 184); border-radius: .375rem;" (click)="skillBtnEvent()">{{text2}}</button>
    </div>
</div>

<div class="w-full flex relative" style="margin-top: 65px; min-height: 330px; max-height: max-content;">
    <app-project *ngIf="!componentShowHidden" class="w-full flex relative"></app-project>
    <app-skills *ngIf="componentShowHidden" class="w-full flex relative"></app-skills>
</div>