<div class="relative flex items-center justify-center w-full task_box">
    <nav class="relative flex items-center justify-center w-full rounded-lg task_box_wrapper p-[15px] max-w-[517px]">
        <button aria-label="task btn 1" type="button" class="font select-none cursor-pointer py-4 w-[47%] text-sm {{projectbtnClass}} btn" [disabled]="projectbtnClass === 'btnActive' " style="color: var(--Light-gray); font-weight: var(--font-Semi-Bold); border-radius: .375rem;" (click)="projectBTNEvent()">{{text1}}</button>
        <button aria-label="task btn 2" type="button" class="font select-none cursor-pointer py-4 w-[47%] text-sm {{skillbtnClass}} btn" [disabled]="skillbtnClass === 'btnActive' " style="color: var(--Light-gray); font-weight: var(--font-Semi-Bold); border-radius: .375rem;" (click)="skillBtnEvent()">{{text2}}</button>
    </nav>
</div>

<section class="relative flex w-full mt-[65px] min-h-[330px] max-h-max">
    @if (!componentShowHidden){
        <app-project class="relative flex w-full"></app-project>
    } @else {
        <app-skills class="relative flex w-full"></app-skills>
    }
</section>