<div class="skill_inner relative w-full flex flex-wrap justify-center gap-7">

    <div class="cards overflow-hidden">
        <p class="font m-0">{{frontentText}}</p>
        <ul class="skill_inner_ul grid relative">
            <li class="font flex gap-1 md:gap-2" *ngFor="let frontend of arrayFrontend">
                <span class="icon relative flex items-center justify-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" fill="currentColor" class="flex" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg>
                </span>
                {{frontend}}
            </li>
        </ul>
    </div>

    <div class="cards overflow-hidden">
        <p class="font m-0">{{toolsText}}</p>
        <ul class="skill_inner_ul grid relative">
            <li class="font flex gap-1 md:gap-2" *ngFor="let tool of arrayTools">
                <span class="icon relative flex items-center justify-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" fill="currentColor" class="flex" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg>
                </span>
                {{tool}}
            </li>
        </ul>
    </div>

    <div class="cards overflow-hidden" *ngIf="false">
        <p class="font m-0">{{backendText}}</p>
        <ul class="skill_inner_ul grid relative">
            <li class="font flex gap-1 md:gap-2" *ngFor="let backend of arraybackend">
                <span class="icon relative flex items-center justify-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" fill="currentColor" class="flex" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg>
                </span>
                {{backend}}
            </li>
        </ul>
    </div>
    


</div>