<section class="socialLinks_cont relative pt-3 w-full mx-auto" style="padding-inline: 16px; max-width: 831px !important;">
    <aside class="top-sec relative">
        <img [src]="desktopImg"
        alt="Profile image of {{username}}"
        width="140"
        height="140"
        class="pointer-events-auto select-none img-fluid aspect-square mx-auto object-cover"
        loading="lazy" srcset="{{mobileImg}} 260w, {{desktopImg}} 457w" sizes="(max-width: 600px) 260px, 457px">
        
        <div class="text-cont text-center w-fit mx-auto mt-4">
            <h1 class="font user-name text-[44px]" style="color: rgb(242, 242, 242);">{{username}}</h1>
            <p class="font bioText text-xl ms:text-2xl" style="color: rgb(184, 184, 184);">{{userbio}}</p>
        </div>
    </aside>

    <aside class="bottom_sec relative w-full mt-5 flex justify-center items-start">
        <div class="soc_listboc relative w-full flex items-center justify-center flex-wrap gap-4" style="max-width: 400px;">
            
            <button class="soc-boc-item font cursor-pointer w-full flex items-center justify-center rounded-xl overflow-hidden" *ngFor="let data of socialLinksArray" style="height: 58px; background-color: white;">
                <a [href]="data.link" rel="nofollow" target="_blank" class="w-full h-full flex items-center justify-center" [style]="data.boxgradient">
                    <i class="ri {{data.icon}} flex mr-2" style="margin-bottom: 2px; font-size: 26px; color: rgb(242, 242, 242) !important;"></i>
                    <span class="text text-2xl" style="color: rgb(242, 242, 242) !important;">{{data.name}}</span>
                </a>
            </button>
            
        </div>        
    </aside>
</section>