.textanim {
    opacity: 0;
    transform: translate(100px, 0);
    animation: anim 12ms 300ms ease forwards;
    -o-animation: anim 12ms 300ms ease forwards;
    -moz-animation: anim 12ms 300ms ease forwards;
    -webkit-animation: anim 12ms 300ms ease forwards;
}
@keyframes anim {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}