.project_inner_sortintSelect{
    font-weight: 400;
    background-color: var(--body-dark-bg);
    border: 3px solid var(--border-dark);
}
.project_card_item{
    padding: 14px !important;
    background-color: var(--darkblue);
}
.card_btn{
    height: fit-content;
    background-color: var(--yellow);
    font-weight: 400;
}
.pagination ul li button{
    background-color: var(--darkblue);
}
.pagination ul li button.active{
    background-color: var(--yellow) !important;
    color: var(--darkgray) !important;
}
.newtons-cradle {
    --uib-size: 75px;
    --uib-speed: 1.2s;
    --uib-color: var(--yellow);
    width: var(--uib-size);
    height: fit-content !important;
}
.newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--uib-color);
}
.newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
}
.newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
}
@keyframes swing {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
    25% {
        transform: rotate(70deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(-70deg);
        animation-timing-function: ease-in;
    }
}

@media screen and (min-width: 425px){
    .newtons-cradle {
        --uib-size: 106px;
    }
}
@media screen and (min-width: 576px){
    .newtons-cradle {
        --uib-size: 116px;
    }
}
@media screen and (min-width: 710px){
    .project_card_cont{
        display: grid !important;
        gap: 15px !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .project_card_item{
        top: 0;
        width: 100%;
    }
}