<section class="relative flex flex-col flex-wrap w-full project pb-[15px] gap-7">
    <!-- პროექტების სორტირების Select -->
    <select id="project_sort" class="w-full rounded-md project_inner_sortintSelect font h-[40px] max-w-[200px] text-base outline-none px-1.5" style="text-transform: capitalize; color: var(--color-light-gray); font-weight: var(--font-Semi-Bold);" aria-label="Sort projects by">
        <option class="font" style="text-transform: capitalize; font-weight: var(--font-Semi-Bold);" value="all" selected>{{text1}}</option>
        <ng-container *ngFor="let sort of selectTexts">
            <option class="font" style="text-transform: capitalize; font-weight: var(--font-Semi-Bold);" [value]="sort">{{sort}}</option>
        </ng-container>
    </select>

    <!-- project card container -->
    <section class="relative flex flex-wrap items-start justify-center w-full gap-3 project_card_cont">
        @for (data of paginatedProjects(); track $index){
            <div class="project_card_item rounded-xl flex flex-col gap-3 max-w-[452px] relative w-full" id="project_{{data.id}}">
                <aside class="relative overflow-hidden rounded-lg img_box aspect-video bg-[var(--color-dark-charcoal)] flex items-center justify-center">
                    <div class="relative inset-0 z-0 flex loading newtons-cradle pointer-events-none">
                        <ng-container *ngFor="let i of [0,1,2,3,4]">
                            <div class="newtons-cradle__dot bloc h-full w-[25%] origin-top after:block after:w-full after:aspect-square after:rounded-full after:bg-[var(--uib-color)]"></div>
                        </ng-container>
                    </div>

                    <picture class="absolute inset-0 flex z-40 w-full h-full object-cover aspect-video">
                        <source media="(min-width: 541px)" [srcset]="data.image_desktop">
                        <source media="(max-width: 540px)" [srcset]="data.image_mobile">
                        <img [src]="data.image_desktop" alt="Project banner image" loading="lazy" class="object-cover w-full h-full select-none aspect-video">
                    </picture>
                </aside>
                <aside class="relative w-full card_desc">
                    <div class="flex flex-col items-start justify-start gap-2">
                        <h2 class="project-card-title font title text-lg text-[var(--color-light-gray)]" style="font-weight: var(--font-Medium);">{{ data.title }}</h2>
                        <a [href]="data.link" rel="nofollow" target="_blank" style="font-weight: var(--font-Medium);" type="button" aria-label="project link btn" class="lowercase overflow-hidden text-base rounded-md cursor-pointer select-none font border-none card_btn px-2 py-1 sm:text-lg text-[var(--btn-text-color)]">{{ text2 }}</a>
                    </div>
                </aside>
            </div>
        }
    </section>

    <!-- Pagination -->
    <nav class="relative flex items-center justify-center mt-2 pagination md:mt-3">
        <ul class="relative flex flex-row">
            <li class="flex overflow-hidden select-none">
                <button type="button" aria-label="left btn" class="text-base outline-none cursor-pointer font rounded-l-lg w-10 h-10" style="color: var(--color-off-white);" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
                    <svg xmlns="http://www.w3.org/2000/svg"class="m-auto pointer-events-none" width="28" height="28" viewBox="0 0 24 24" fill="var(--color-off-white)"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
                </button>
            </li>
            <ng-container *ngFor="let page of getPaginationRange()">
                <li class="flex items-center justify-center overflow-hidden select-none">
                    <button type="button" aria-label="pagination number" class="text-base sm:text-lg outline-none cursor-pointer font w-10 h-10" style="color: var(--color-off-white); font-weight: var(--font-Semi-Bold);" [disabled]="currentPage === page" (click)="changePage(page)" [class.active]="currentPage === page"> {{ page }} </button>
                </li>
            </ng-container>
            <li class="flex overflow-hidden select-none">
                <button type="button" aria-label="right btn" class="text-base outline-none cursor-pointer font rounded-r-lg w-10 h-10" style="color: var(--color-off-white);" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-auto pointer-events-none" width="28" height="28" viewBox="0 0 24 24" fill="var(--color-off-white)"><path d="M10.061 19.061 17.121 12l-7.06-7.061-2.122 2.122L12.879 12l-4.94 4.939z"></path></svg>
                </button>
            </li>
        </ul>
    </nav>
    
</section>