<section class="relative flex flex-col flex-wrap w-full project" style="gap: 32px; padding-bottom: 14px;">
    <!-- პროექტების სორტირების Select -->
    <select id="project_sort" class="project_inner_sortintSelect font w-100" aria-label="Sort projects by">
        <option class="font" value="all" selected>{{text1}}</option>
        <option class="font" *ngFor="let sort of selectTexts" [value]="sort">{{sort}}</option>
    </select>

    <div class="relative flex flex-wrap items-start justify-center w-full gap-2 project_card_cont">

        <div class="project_card_item rounded-3xl flex flex-col gap-3 max-w-[452px]" *ngFor="let data of paginatedProjects(); let i = index">
            <div class="relative overflow-hidden pointer-events-none img_box aspect-video rounded-xl" style="background-color: #0c161f;">
                <div class="absolute z-0 flex items-center justify-center w-full h-full pointer-events-none loading">
                    <div class="pointer-events-none newtons-cradle">
                        <div class="pointer-events-none newtons-cradle__dot" *ngFor="let i of ['','','','']"></div>
                    </div>
                </div>

                <img class="absolute top-0 left-0 z-40 block object-cover w-full h-full select-none" loading="lazy" [srcset]="data.image_mobile + ' 600w, ' + data.image_desktop + ' 800w'" [sizes]="'(min-width: 600px) 800px, 600px'" [src]="data.image_desktop" alt="Project banner image">
            </div>
            
            <div class="relative w-full card_desc">
                <h2 class="font title text-2xl lg:text-[26px]" style="color: #b8b8b8;">{{data.title}}</h2>
                <div class="flex flex-wrap items-center justify-between gap-2">
                    <p class="text-base font date md:text-lg projectDate" style="color: #b8b8b8;">{{text2}}: {{ newmontharr[i] }}</p>
                    <div class="pointer-events-none font date project-date" style="user-select: none;">{{data.date}}</div>
                    <a [href]="data.link" rel="nofollow" target="_blank" class="overflow-hidden text-base cursor-pointer select-none font card_btn sm:text-lg" style="padding: 8px 10px;" type="button" aria-label="project link btn">{{text3}}</a>
                </div>
            </div>
        </div>

        
    </div>
    

    <nav class="relative flex items-center justify-center mt-1 pagination md:mt-2">
        <ul class="relative flex flex-row">
            <li class="flex overflow-hidden select-none">
                <button type="button" aria-label="left btn" class="text-xl outline-none cursor-pointer font" style="border-radius: 10px 0 0 10px;" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-auto pointer-events-none" width="28" height="28" viewBox="0 0 24 24"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
                </button>
            </li>

            <li class="flex items-center justify-center overflow-hidden select-none" *ngFor="let page of getPaginationRange()">
                <button type="button" aria-label="pagination number" class="text-xl outline-none cursor-pointer font" [disabled]="currentPage === page" (click)="changePage(page)" [class.active]="currentPage === page"> {{ page }} </button>
            </li>

            <li class="flex overflow-hidden select-none">
                <button type="button" aria-label="right btn" class="text-xl outline-none cursor-pointer font" style="border-radius: 0 10px 10px 0;" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" >
                    <svg xmlns="http://www.w3.org/2000/svg"  class="m-auto pointer-events-none" width="28" height="28" viewBox="0 0 24 24"><path d="M10.061 19.061 17.121 12l-7.06-7.061-2.122 2.122L12.879 12l-4.94 4.939z"></path></svg>
                </button>
            </li>
            
        </ul>
    </nav>
    
</section>