/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

*,*::after,*::before{
  transition: color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98), background-color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
  -o-transition: color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98), background-color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
  -moz-transition: color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98), background-color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
  -webkit-transition: color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98), background-color 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
}

body{
  opacity: 0;
  animation: showanim 600ms 0.1s linear forwards;
  -o-animation: showanim 600ms 0.1s linear forwards;
  -moz-animation: showanim 600ms 0.1s linear forwards;
  -webkit-animation: showanim 600ms 0.1s linear forwards;
}
@keyframes showanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showanim{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-moz-keyframes showanim{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes showanim{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--yellow);
}

body.usa-lang .font {
  font-family: var(--font-eng);
  font-weight: var(--font-regular);
}

body.geo-lang .font {
  font-family: var(--font-geo);
  font-weight: var(--font-regular) !important;
}
body {
  background-color: var(--color-dark-charcoal);
}

