/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

*,*::after,*::before{
  transition: all 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
  -o-transition: all 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
  -moz-transition: all 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
  -webkit-transition: all 240ms cubic-bezier(0.4, 0.09, 0.63, 0.98) !important;
}

body{
  opacity: 0;

  animation: showanim 750ms 1.3s linear forwards;
  -o-animation: showanim 750ms 1.3s linear forwards;
  -moz-animation: showanim 750ms 1.3s linear forwards;
  -webkit-animation: showanim 750ms 1.3s linear forwards;
}
@keyframes showanim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--yellow);
}

body.usa-lang .font {
  font-family: var(--font-eng);
  font-weight: var(--font-regular);
}

body.geo-lang .font {
  font-family: var(--font-geo);
  font-weight: var(--font-regular) !important;
}

body {
  background-color: var(--body-dark-bg);
}

body.light_mode {
  background-color: var(--light-bg) !important;
}

body.light_mode h1,
body.light_mode ul li span.number {
  color: var(--text-dark) !important;
}

body.light_mode .cards .skill_inner_ul li,
body.light_mode p,
body.light_mode span {
  color: var(--gray) !important;
}

body.light_mode svg {
  fill: var(--gray) !important;
  color: var(--gray) !important;
}

body.light_mode .hero_inner_btn_cont .btn.contact-btn,
body.light_mode .hero_inner_btn_cont .btn.contact-btn a {
  background-color: var(--contact-btn) !important;
  color: var(--text-dark) !important;
  overflow: hidden;
}

body.light_mode .task_box_wrapper {
  background-color: var(--white) !important;
}

body.light_mode .cursor-pointer.btnActive {
  background-color: var(--Very-light-gray) !important;

}

body.light_mode .cursor-pointer {
  color: var(--text-dark) !important;
}

body.light_mode .project_inner_sortintSelect {
  background-color: var(--white) !important;
  color: var(--body-dark-bg) !important;
  border: 3px solid var(--text-white) !important;
}

body.light_mode .project_card_item {
  background-color: var(--white) !important;
}

body.light_mode h2 {
  color: var(--text-dark) !important;
}

body.light_mode .btn_box button:nth-child(2) {
  background-color: var(--contact-btn) !important;
  color: var(--text-dark) !important;
}

body.light_mode .pagination ul li button {
  color: var(--gray) !important;
  background-color: var(--white) !important;
}

body.light_mode .cards p {
  color: var(--text-dark) !important;
}

body.light_mode .img_box {
  background-color: var(--light-bg) !important;
}

body.light_mode .cards .skill_inner_ul li svg {
  fill: var( --skill-ICON) !important;
}
