:root {
  /* Dark color */
  --color-dark-charcoal: rgb(12, 22, 31);
  --color-off-white: rgb(248, 249, 250);
  --color-light-gray: rgb(184, 184, 184);
  --color-gray: rgb(25, 31, 37);
  --color-border: rgb(53, 53, 53);
  
  
  
  /* Accent color */
  --skill-ICON: rgb(21, 108, 189);
  --yellow: rgb(254, 190, 0);
  --btn-text-color:rgb(71, 71, 71);
  --white: rgb(248, 249, 250);

  --font-eng: "Oswald", sans-serif;
  --font-geo: "ArchyEDT-Bold", sans-serif;
  
  --font-Extra-Light: 200;
  --font-Light: 300;
  --font-regular: 400;
  --font-Medium: 500;
  --font-Semi-Bold: 600;
  --font-Bold: 700;
  --font-Extra-Bold: 800;
  --font-Black: 900;
  
  /* sizes */
  --conent-max-w: 832px; /* 832px */
  
  
  /* links page variavle */
  --text-position: 60px;
}
body.light_mode {
  --color-dark-charcoal: rgb(233, 235, 236);
  --color-off-white: rgb(61, 61, 61);
  --color-light-gray: rgb(87, 87, 87);
  --color-gray: rgb(248, 249, 250);
  --color-border: rgb(248, 249, 250);
}